<!DOCTYPE html>
<html>
    <head>
        <title>Burger Devourer</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/assets/js/cats.js"></script>
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    </head>

    <body>
        {{{ body }}}
    </body>
</html>