<div class="container">
    <div class="row">
        <div class="col-6">
            {{#each burgers}}
            {{#unless devoured}}
            <div class="input-group flex-nowrap">
                <input type="text" class="form-control" placeholder="{{burger_name}}" data-id="{{id}}" aria-describedby="addon-wrapping" readonly>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-info devourBtn">Devour It!</button>
                </div>
            </div>
            {{/unless}}
            {{/each}}
        </div>

        {{#each burgers}}
        {{#if devoured}}
        <div class="col-6">
            <input class="form-control" type="text" placeholder="{{burger_name}}" readonly>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>